.App {
  text-align: center;
}

.container {
  display: flex;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 10vw;
  background-color: aliceblue;
  padding: 10px;
  color: blueviolet;
  text-align: center;
}

.cont {
  display: flex;
  flex-grow: 1;
}

.topBar {
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 20px;
}
